<template>
<v-col v-if="scoreboard.length > 0">
                <div v-if="topScoreUser >= 0 && rankUser > 0">
                    <h4>Personal best</h4>
                    <p>
                        You're currently at rank {{rankUser}}/{{scoreboard.length}} with your high score of {{topScoreUser}} points.
                    </p>
                </div>
                <p v-if="rankUser === -1">
                    You haven't played this quiz yet. Go ahead and play it now!
                </p>

                <h4>Overall results</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Score</th>
                        <th>Date and time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(entry, index) in this.scoreboard" v-bind:key="entry.playedAt" v-bind:class="{ownScore:(user_id === entry.user_id)}">
                        <td>{{index+1}}</td>
                        <td>{{entry["name"]}}</td>
                        <td>{{entry["score"]}}</td>
                        <td>{{entry["playedAt"]}}</td>
                    </tr>
                    </tbody>
                </table>
            </v-col>
            <v-col v-else>
                <p>There are currently no high scores for this quiz. <b>Be the first one to prove your skills!</b></p>
            </v-col>
</template>
<script>
    import Vue from 'vue';
    import Score from '../score/Scoreboard';
    import { RepositoryFactory } from '../../repositories';
    import { DateService } from './../../services/DateService';

    const QuizRepository = RepositoryFactory.get('quizzes');
    const QuestionRepository = RepositoryFactory.get('questions');
    const ResultsRepository = RepositoryFactory.get('results');

    export default {
        name: "Scoreboard",
        components: {
            Score
        },
        props: {
            quizId: Number,
            user_id: Number,
        },
        data: () => ({
            scoreboard: [],
            topScoreUser: -1,
            rankUser: -1
        }),
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                ResultsRepository.getTopForQuiz(this.quizId)
                .then(response => {
                    this.scoreboard = response.data.sort((a,b) => {
                        return b.score - a.score
                    }).map((score, i) => {
                        score.playedAt = DateService.getFormatedDate(new Date(score.playedAt));

                        if (this.user_id === score.user_id) {
                            this.rankUser = i + 1;
                            this.topScoreUser = score.score;
                        }

                        return score;
                    });
                })
            }
        },
    }
</script>

<style scoped>
table {
  border: 2px solid #4caf50;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
}

th {
  background-color: #4caf50;
  color: rgb(220, 247, 217);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;

}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.ownScore{
    font-weight: bold;
}
</style>
