<template>
    <v-container v-on:keyup.enter="login">
        <v-row>
            <v-col>
                <p class="display-1">Login</p>
                <p class="font-italic font-weight-light">Give me your hot credentials and I'll let you in...</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field v-model="email"
                              label="E-mail address"
                              autofocus
                              color="green"
                              required>
                </v-text-field>
            </v-col>
            <v-col>
                <v-text-field v-model="password"
                              label="Password"
                              :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                              :type="showPassword ? 'text' : 'password'"
                              @click:append="showPassword = !showPassword"
                              color="green"
                              required>
                </v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="text-center">
                <v-btn
                    @click.prevent="login">
                    Login
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <p class="text-center">
                    No account yet?
                    <br/>
                    <a href="/signUp">Go create one!</a>
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Vue from 'vue';
    import Axios from 'axios';
    import { MessageService } from './../../services';

    export default {
        name: "Login",
        data: () => ({
            email: '',
            password: '',
            showPassword: false,
            loggingIn: false
        }),
        created() {
            // reset login status
            this.$store.dispatch('authentication/logout');
        },
        methods: {
            login() {
                const { email, password } = this;
                const { dispatch } = this.$store;

                // prevent login only called once and data existing
                if (email && password && !this.loggingIn) {
                    this.loggingIn = true;
                    dispatch('authentication/login', { email, password });
                }
            }
        }
    }
</script>

<style scoped>

</style>
