<template>
    <v-container>
        <v-row>
            <v-col>
                <p class="display-1">Goodbye</p>
                <p class="text-italic font-weight-light">
                    Sad to see you leave! Come back soon and show of your unbelievable quizzing skills!
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Logout",
        created() {
            this.logout();
        },
        methods: {
            logout() {
                const { dispatch } = this.$store;
                dispatch('authentication/logout');
            }
        }
    }
</script>

<style scoped>

</style>