<template>
    <v-form v-model="validRegistration" ref="signUpForm">
        <v-container v-on:keyup.enter="signUp">
            <v-row>
                <v-col>
                    <p class="headline">Sign Up</p>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="name"
                                  label="Full name"
                                  :rules="[v => !!v || 'Name is required!']"
                                  autofocus
                                  required>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="email"
                                  type="email"
                                  label="E-mail address"
                                  :rules="[v => !!v || 'E-mail address is required!', v => this.emailRegex.test(v) || 'This E-Mail is invalid', v => takenEmails.indexOf(v) < 0 || 'This e-mail address is already taken by another user!']"
                                  required>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="password"
                                  label="Password"
                                  :rules="[v => !!v || 'Password is required!', v => v.length >= 8 || 'Please use at least 8 characters for your secure password!']"
                                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                  :type="showPassword ? 'text' : 'password'"
                                  @click:append="showPassword = !showPassword"
                                  required
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="password_confirmation"
                                  label="Password confirmation"
                                  :rules="[v => v === password || 'Password confirmation does not match password!']"
                                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                  :type="showPassword ? 'text' : 'password'"
                                  @click:append="showPassword = !showPassword"
                                  required
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="text-center">
                    <v-btn :disabled="!validRegistration"
                           @click.prevent="signUp">
                        Sign up
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    import Vue from 'vue';
    import Axios from "axios";

    export default {
        name: "SignUp",
        data: () => ({
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            showPassword: false,
            validRegistration: false,
            takenEmails: [],
            emailRegex: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
        }),
        computed: {
            emailValidationError() { // property to be able to watch for changes in the vuex module
                return this.$store.state.authentication.signUp.errors;
            }
        },
        watch: {
            emailValidationError() {
                if (!this.takenEmails.includes(this.email)) {
                    this.takenEmails.push(this.email);
                    this.$refs.signUpForm.validate(); // force form to revalidate
                }
            }
        },
        methods: {
            signUp() {
                this.takenEmails = []; // clear email validation

                this.$store.dispatch('authentication/signUp', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    passwordConfirmation: this.password_confirmation
                });
            }
        }
    }
</script>

<style scoped>

</style>
