<template>
    <v-snackbar v-model="snackbar"
        :right="true"
        :top="true"
        :timeout="timeout"
        :color="colorTypeLookup.get(type)">
        {{ text }}
        <v-btn dark text
            @click="snackbar = false">
            Close
        </v-btn>
    </v-snackbar>
</template>

<script>
    import { MessageService, messageTypes } from './../../services';

    export default {
        name: "MessageService",
        data: () => ({
            snackbar: false,
            text: "",
            type: "",
            timeout: 3000,
            colorTypeLookup: new Map([
                [messageTypes.info, "info"],
                [messageTypes.success, "success"],
                [messageTypes.warning, "warning"],
                [messageTypes.error, "error"]
            ])
        }),
        created() {
            MessageService.listen(this.display);
        },
        methods: {
            display(message) {
                this.type = message.type;
                this.text = message.message;
                this.snackbar = true;
            }
        }
    }
</script>