<template>
    <v-app>

        <navigation-drawer v-model="drawer"></navigation-drawer>
        <message-service></message-service>

        <v-app-bar app
                   color="green"
                   dark
                   clipped-left>

            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>QU!Z</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn
                v-if="!user"
                :depressed="true"
                color="green"
                dark
                to="/login">
                Login
                <v-icon class="ml-1">mdi-login</v-icon>
            </v-btn>
            
            <v-btn
                v-else
                :depressed="true"
                color="green"
                dark
                to="/logout">
                {{ user.name }}
                <v-icon class="ml-1">mdi-logout</v-icon>
            </v-btn>
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>

        <v-footer app
                  color="green">
            <span class="white--text">&copy; GIBZ 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
    import NavigationDrawer from "./navigation/NavigationDrawer";
    import MessageService from "./messages/MessageService";

    export default {
        components: {NavigationDrawer, MessageService},
        props: {
            source: String,
        },
        data: () => ({
            drawer: false
        }),
        computed: {
            user() {
                return this.$store.state.authentication.user;
            }
        }
    }
</script>

<style>
    a:hover {
        text-decoration: none;
    }
</style>