<template>
    <v-container>
        <v-row>
            <v-col>
                <p class="headline">{{ quiz.title }}</p>
                <p>{{ quiz.description }}</p>
            </v-col>
        </v-row>
        <v-row v-if="questions.length > 0">
            <v-col>
                <v-stepper v-model="step"
                           vertical>

                    <v-stepper-step step="0"
                                    color="green"
                                    :complete="step > 0"
                                    complete-icon="mdi-information-variant">
                        Intro
                    </v-stepper-step>
                    <v-stepper-content step="0">
                        <p>You are about to start the QU!Z named <span
                                class="font-weight-bold">{{ quiz.title }}</span>. During this quiz you'll need to
                            answer <span class="font-weight-bold">{{questions.length}} questions.</span></p>
                        <p>
                            The questions can be:
                            <v-radio-group :mandatory="false" class="ml-2">
                                <v-radio label="Single choice" :disabled="true"></v-radio>
                            </v-radio-group>
                            <v-checkbox class="ml-2 my-0" label="Multiple choice" :disabled="true"></v-checkbox>
                        </p>
                        <p>The faster you answer the question, the more points you may earn. But be careful: Wrong
                            answers won't bring you any points at all for single choice question and will subtract points for multiple choice questions!</p>
                        <p>The time limit for single choice questions is <span
                                class="font-weight-bold">{{ maxTimeMillisecondsSingleChoice / 1000 }} seconds</span>, and for multiple choice questions it is
                                <span class="font-weight-bold">{{ maxTimeMillisecondsMultipleChoice / 1000 }} seconds</span>.
                            After the time limit elapsed or after you choose the answer you may proceed manually to the
                            next question.</p>

                        <div class="text-right">
                            <v-btn text
                                   color="green"
                                   @click.prevent="step++"
                                   class="ma-1">
                                Start QU!Z
                            </v-btn>
                        </div>
                    </v-stepper-content>

                    <template v-for="(question, index) in questions">
                        <v-stepper-step :complete="step > (index + 1)"
                                        color="green"
                                        :step="index + 1">
                            {{ question.title }}
                        </v-stepper-step>
                        <v-stepper-content :step="index + 1">
                            <p class="font-weight-bold">{{ question.questionText }}</p>

                            <v-radio-group v-if="question.type == questionTypes[0].value"
                                           class="ml-2"
                                           v-model="results[question.id].answerId"
                                           :mandatory="false"
                                           @change="tickSingleChoiceAnswer">
                                <v-radio v-for="answer in answers[question.id]"
                                         :key="answer.id"
                                         :label="answer.answerText"
                                         :value="answer.id"
                                         :disabled="results[question.id]['answerId'] !== null || points <= 0">
                                </v-radio>
                            </v-radio-group>

                            <div v-if="question.type == questionTypes[1].value"
                                 class="ml-2">
                                 <v-checkbox v-for="answer in answers[question.id]"
                                             v-model="results[question.id].answers"
                                             :key="answer.id"
                                             :label="answer.answerText"
                                             :disabled="points <= 0 || results[question.id].submitted"
                                             :value="answer.id">
                                 </v-checkbox>
                                <div class="text-right">
                                    <v-btn text
                                            class="ma-2"
                                            color="green"
                                            v-if="results[question.id].answers && results[question.id].answers.length > 0 && !results[question.id].submitted && points > 0"
                                            v-on:click="submitMultipleChoiceAnswers(question)">
                                        submit
                                    </v-btn>
                                </div>
                            </div>

                            <v-progress-linear :value="points"
                                               color="green"
                                               striped
                                               rounded
                                               height="25">
                                <template v-slot="{ value }">
                                    <strong class="white--text">{{ Math.ceil(value) }} points</strong>
                                </template>
                            </v-progress-linear>

                            <div class="text-right">
                                <v-btn text
                                       class="ma-2"
                                       color="green"
                                       v-if="step <= questions.length && (results[question.id].answerId !== null || results[question.id].submitted || points <= 0)"
                                       @click="commitResultIfFinished(step)"
                                       @click.prevent="step++">
                                    next
                                </v-btn>
                            </div>

                        </v-stepper-content>
                    </template>

                    <v-stepper-step :step="questions.length + 1"
                                    :complete="step > questions.length + 1"
                                    color="green"
                                    complete-icon="mdi-trophy-variant">
                        Evaluation
                    </v-stepper-step>
                    <v-stepper-content :step="questions.length + 1">
                        <p v-if="pointsSum > 0" class="title">Congratulations!</p>
                        <p v-else class="title">Oh noooo!</p>
                        <p>You made <span class="font-weight-bold">{{ pointsSum }} points</span> in this QU!Z</p>
                        <v-row>
                            <v-col>
                                <v-btn block
                                       @click="replay">
                                    <v-icon left color="green">mdi-refresh</v-icon>
                                    Play QU!Z again
                                </v-btn>
                            </v-col>
                            <v-col>
                                <v-btn block
                                       @click="returnToList">
                                    <v-icon left color="green">mdi-format-list-bulleted</v-icon>
                                    Return to QU!Z list
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-stepper-content>
                </v-stepper>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { RepositoryFactory } from "../../repositories";
    import Vue from "vue";

    const QuizRepository = RepositoryFactory.get('quizzes');
    const QuestionRepository = RepositoryFactory.get('questions');
    const AnswerRepository = RepositoryFactory.get('answers');
    const ResultRepository = RepositoryFactory.get('results');

    export default {
        name: "QuizPlay",
        props: {
            quizId: Number,
        },
        data: () => ({
            quiz: {},
            questions: [],
            questionTypes: QuestionRepository.getAllTypes(),
            answers: {},
            results: {},
            step: 0,
            loading: false,
            maxPoints: 100,
            points: 100,
            pointsSum: 0,
            maxTimeDefault: 10000,
            maxTimeMillisecondsSingleChoice: 10000,
            maxTimeMillisecondsMultipleChoice: 15000,
            interval: null,
        }),
        created() {
            this.fetchData();
        },
        watch: {
            step: function (step) {
                if (this.interval > 0) {
                    window.clearInterval(this.interval);
                }

                if (step > 0 && step <= this.questions.length) {
                    const millisecondsPerIntervalStep = 100;
                    const maxTimeQuestion = this.getMaxTimeForQuestion(this.questions[step - 1].id);
                    const steps = maxTimeQuestion / millisecondsPerIntervalStep;
                    const pointDecrement = this.maxPoints / steps;

                    this.points = this.maxPoints;

                    this.interval = window.setInterval(() => {
                        this.points -= pointDecrement;
                        if (this.points <= 0) {
                            window.clearInterval(this.interval);
                            this.interval = null;
                        }
                    }, millisecondsPerIntervalStep);
                }
            }
        },
        methods: {
            fetchData() {
                this.loading = true;
                QuizRepository.getQuiz(this.quizId)
                    .then(response => {
                        if (response.status === 200) {
                            this.quiz = response.data;
                        }
                    });
                QuestionRepository.getForQuiz(this.quizId)
                    .then(response => {
                            if (response.status === 200) {
                                this.questions = response.data;
                                this.questions.forEach(question => {
                                    Vue.set(this.results, question.id, {
                                        answerId: null,
                                        points: null,
                                    });
                                });
                                return response.data;
                            }
                        }
                    )
                    .then(questions => Promise.all(questions.map(question => {
                        return AnswerRepository.getForQuestion(question.id);
                    })))
                    .then(answers => {
                        answers.forEach((answer, index) => {
                            this.answers[this.questions[index].id] = this.shuffle(answer.data);
                            this.results[this.questions[index].id].answers = [];
                        });

                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },

            tickSingleChoiceAnswer(answerId) {
                if (this.interval) {
                    window.clearInterval(this.interval);
                }

                const question = this.questions[this.step - 1];
                this.results[question.id]['points'] = this.points;

                if (this.isCorrectAnswer(question.id, answerId)) {
                    this.pointsSum += this.points;
                }
            },

            submitMultipleChoiceAnswers(question) {
                if (this.interval) {
                    window.clearInterval(this.interval);
                }

                const answers = this.answers[question.id];
                this.results[question.id]['points'] = this.points;
                const pointsPerAnswer = this.points / answers.length;
                let pointsReached = 0;

                answers.forEach(a => {
                    const selected = this.results[question.id].answers.indexOf(a.id) >= 0;
                    const correct = this.isCorrectAnswer(question.id, a.id);

                    console.log("selected: ", selected);
                    console.log("correct: ", correct);

                    if (selected && correct || !selected && !correct) {
                        pointsReached += pointsPerAnswer;
                    } else if (selected && !correct) {
                        pointsReached -= pointsPerAnswer;
                    }

                    console.log("pointsReached: ", pointsReached);
                });

                this.pointsSum += pointsReached > 0 ? Math.round(pointsReached) : 0;
                this.results[question.id].submitted = true;

                // Workarround: Force vue to rerender the view
                // This currently nescessary to ensure the functionality of multiple choice questions
                // If it wouldn't be forced there'd be a really weird/inconsistent behaviour that the submitted property won't always get updated
                // This is probably an issue that the change detection of vue, which sometimes won't recognize, that the value of "submitted" has changed
                // and therefor won't update the value in the template
                this.$forceUpdate();
            },

            isCorrectAnswer(questionId, answerId) {
                const correctAnswerFilter = function (answer) {
                    return answer.isCorrect === 1 && answer.id === answerId;
                };
                const correctAnswers = this.answers[questionId].filter(correctAnswerFilter);
                return correctAnswers.length > 0;
            },

            getMaxTimeForQuestion(questionId) {
                const question = this.questions.find(q => q.id == questionId);

                if (question.type == this.questionTypes[0].value) { // is question single choice
                    return this.maxTimeMillisecondsSingleChoice;
                }

                if (question.type == this.questionTypes[1].value) { // is question multiple choice
                    return this.maxTimeMillisecondsMultipleChoice;
                }

                return this.maxTimeDefault;
            },

            commitResultIfFinished(stepNumber) { // check if the provided step was the last => if so store result
                if(stepNumber == this.questions.length) {
                    ResultRepository.createResult({
                        quiz_id: this.quiz.id,
                        score: this.pointsSum
                    });
                }
            },

            replay() {
                this.points = 0;
                this.pointsSum = 0;
                this.step = 0;
                Object.keys(this.results).forEach(key => {
                    this.results[key] = {
                        answerId: null,
                        answers: [],
                        points: null,
                        submitted: false
                    };
                });
            },

            returnToList() {
                this.$router.push('/quizzes');
            },

            shuffle(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }
        }
    }
</script>

<style>
    .v-progress-linear__bar, .v-progress-linear__bar__determinate {
        transition: none;
    }

    label {
        margin-bottom: 0;
    }
</style>
